[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HOIF"]
	path = HOIF
	url = https://github.com/cxy0714/hoif
[submodule "ustats"]
	path = ustats
	url = https://github.com/cxy0714/u-statistics-r
